Package: php-vitexsoftware-ease-bootstrap-widgets-doc
Source: php-vitexsoftware-ease-bootstrap-widgets
Version: 1.1.0
Architecture: all
Maintainer: Vítězslav Dvořák <info@vitexsoftware.cz>
Installed-Size: 8
Suggests: www-browser
Section: doc
Priority: optional
Homepage: https://github.com/VitexSoftware/Ease-PHP-Bricks
Description: Ease Framework documentation
 ApiGen html documentation for ease-framework php library
